Repository deimosfr/deimosfr-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-schema, check-chart-metadata, kube-linter

helm-schema:
  name: Helm Schema Generator
  entry: ./scripts/helm-schema.sh
  language: system

check-chart-metadata:
  name: Check Chart Metadata (Icon, Verified Publisher)
  entry: ./scripts/check-chart-metadata.sh
  language: system

kube-linter:
  name: KubeLinter
  entry: kube-linter lint --config .kube-linter.yaml charts/
  language: system
  pass_filenames: false

chore(bentopdf): bump appVersion to 2.3.1
  charts/bentopdf/Chart.yaml
Due: check-chart-metadata, kube-linter

Update index.yaml
  index.yaml
Due: none

chore(stepifi): bump appVersion to 2.0.0
  charts/stepifi/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(bentopdf): bump appVersion to 2.3.3
  charts/bentopdf/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(bentopdf): bump appVersion to 2.4.1
  charts/bentopdf/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(mealie): bump appVersion to v3.12.0
  charts/mealie/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(bentopdf): bump appVersion to 2.5.0
  charts/bentopdf/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(csi-driver-smb): bump chart to 1.20.1
  charts/csi-driver-smb/Chart.yaml
  charts/csi-driver-smb/values.yaml
Due: helm-schema, check-chart-metadata, kube-linter

chore(mealie): bump appVersion to null
  charts/mealie/Chart.yaml
Due: check-chart-metadata, kube-linter

feat: add labels and annotations support for mealie persistence storage
  charts/mealie/Chart.yaml
  charts/mealie/README.md
  charts/mealie/templates/statefulset.yaml
  charts/mealie/values.schema.json
  charts/mealie/values.yaml
Due: helm-schema, check-chart-metadata, kube-linter

chore(bentopdf): bump appVersion to 2.6.0
  charts/bentopdf/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(mealie): bump appVersion to v3.13.1
  charts/mealie/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(bentopdf): bump appVersion to 2.7.0
  charts/bentopdf/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(mealie): bump appVersion to v3.14.0
  charts/mealie/Chart.yaml
Due: check-chart-metadata, kube-linter

Path conditions:
  helm-schema: any of: charts/.*/values\.yaml$
  check-chart-metadata: any of: Chart.yaml
  kube-linter: any of: ^charts/
