Repository deimosfr/deimosfr-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-schema, check-chart-metadata, kube-linter

helm-schema:
  name: Helm Schema Generator
  entry: ./scripts/helm-schema.sh
  language: system

check-chart-metadata:
  name: Check Chart Metadata (Icon, Verified Publisher)
  entry: ./scripts/check-chart-metadata.sh
  language: system

kube-linter:
  name: KubeLinter
  entry: kube-linter lint --config .kube-linter.yaml charts/
  language: system
  pass_filenames: false

Update index.yaml
  index.yaml
Due: none

feat: add garage chart support
  .github/workflows/check-garage-version.yaml
  charts/garage/Chart.yaml
  charts/garage/README.md
  charts/garage/templates/_helpers.tpl
  charts/garage/templates/clusterrole.yaml
  charts/garage/templates/configmap.yaml
  charts/garage/templates/ingress.yaml
  charts/garage/templates/secret.yaml
  charts/garage/templates/service-headless.yaml
  charts/garage/templates/service.yaml
  charts/garage/templates/serviceaccount.yaml
  charts/garage/templates/servicemonitor.yaml
  charts/garage/templates/workload.yaml
  charts/garage/values.yaml
  scripts/update-garage.sh
Due: helm-schema, check-chart-metadata, kube-linter

feat: add csi-driver-smb chart
  .github/workflows/check-csi-driver-smb-version.yaml
  charts/csi-driver-smb/Chart.yaml
  charts/csi-driver-smb/templates/NOTES.txt
  charts/csi-driver-smb/templates/_helpers.tpl
  charts/csi-driver-smb/templates/csi-proxy-windows.yaml
  charts/csi-driver-smb/templates/csi-smb-controller.yaml
  charts/csi-driver-smb/templates/csi-smb-driver.yaml
  charts/csi-driver-smb/templates/csi-smb-node-windows-hostprocess.yaml
  charts/csi-driver-smb/templates/csi-smb-node-windows.yaml
  charts/csi-driver-smb/templates/csi-smb-node.yaml
  charts/csi-driver-smb/templates/rbac-csi-smb.yaml
  charts/csi-driver-smb/templates/storageclass.yaml
  charts/csi-driver-smb/values.yaml
  scripts/update-csi-driver-smb.sh
Due: helm-schema, check-chart-metadata, kube-linter

feat: add garage-webui
  .github/workflows/check-garage-webui-version.yaml
  charts/garage-webui/.helmignore
  charts/garage-webui/Chart.yaml
  charts/garage-webui/templates/_helpers.tpl
  charts/garage-webui/templates/deployment.yaml
  charts/garage-webui/templates/hpa.yaml
  charts/garage-webui/templates/httproute.yaml
  charts/garage-webui/templates/ingress.yaml
  charts/garage-webui/templates/service.yaml
  charts/garage-webui/templates/serviceaccount.yaml
  charts/garage-webui/values.yaml
  scripts/update-garage-webui.sh
Due: helm-schema, check-chart-metadata, kube-linter

refactor: refactored scripts
  scripts/lib/update-utils.sh
  scripts/update-csi-driver-smb.sh
  scripts/update-garage-webui.sh
  scripts/update-garage.sh
Due: none

feat: add ddns-updater
  .github/workflows/check-ddns-updater-version.yaml
  charts/ddns-updater/Chart.yaml
  charts/ddns-updater/templates/_helpers.tpl
  charts/ddns-updater/templates/deployment.yaml
  charts/ddns-updater/templates/httproute.yaml
  charts/ddns-updater/templates/pvc.yaml
  charts/ddns-updater/templates/secret.yaml
  charts/ddns-updater/templates/service.yaml
  charts/ddns-updater/templates/serviceaccount.yaml
  charts/ddns-updater/values.yaml
  scripts/update-ddns-updater.sh
Due: helm-schema, check-chart-metadata, kube-linter

feat: add gateway api crds
  charts/gateway-api-crds/.helmignore
  charts/gateway-api-crds/Chart.yaml
  charts/gateway-api-crds/templates/NOTES.txt
  charts/gateway-api-crds/templates/_helpers.tpl
  charts/gateway-api-crds/templates/gateway.networking.k8s.io_backendtlspolicies.yaml
  charts/gateway-api-crds/templates/gateway.networking.k8s.io_gatewayclasses.yaml
  charts/gateway-api-crds/templates/gateway.networking.k8s.io_gateways.yaml
  charts/gateway-api-crds/templates/gateway.networking.k8s.io_grpcroutes.yaml
  charts/gateway-api-crds/templates/gateway.networking.k8s.io_httproutes.yaml
  charts/gateway-api-crds/templates/gateway.networking.k8s.io_referencegrants.yaml
  charts/gateway-api-crds/values.yaml
  scripts/update-gateway-api-crds.sh
Due: helm-schema, check-chart-metadata, kube-linter

feat: add missing garage-webui icon
  charts/garage-webui/Chart.yaml
Due: check-chart-metadata, kube-linter

feat: add technitium
  .github/workflows/check-technitium-version.yaml
  charts/technitium/Chart.yaml
  charts/technitium/templates/NOTES.txt
  charts/technitium/templates/_helpers.tpl
  charts/technitium/templates/backup-configmap.yaml
  charts/technitium/templates/controller.yaml
  charts/technitium/templates/httproute.yaml
  charts/technitium/templates/ingress.yaml
  charts/technitium/templates/pvc.yaml
  charts/technitium/templates/secret.yaml
  charts/technitium/templates/service.yaml
  charts/technitium/templates/serviceaccount.yaml
  charts/technitium/templates/vpa.yaml
  charts/technitium/values.yaml
  scripts/lib/update-utils.sh
  scripts/update-technitium.sh
Due: helm-schema, check-chart-metadata, kube-linter

fix: garage version wasn't the latest one
  charts/garage/Chart.yaml
  charts/garage/README.md
  charts/garage/templates/_helpers.tpl
  charts/garage/templates/configmap.yaml
  charts/garage/templates/secret.yaml
  charts/garage/templates/workload.yaml
  charts/garage/values.yaml
  scripts/lib/update-utils.sh
Due: helm-schema, check-chart-metadata, kube-linter

fix: gateway api crd version issue
  charts/gateway-api-crds/Chart.yaml
Due: check-chart-metadata, kube-linter

refactor: update the way PR are done, now 1 PR = 1 app
  .github/workflows/check-bentopdf-version.yaml
  .github/workflows/check-csi-driver-smb-version.yaml
  .github/workflows/check-ddns-updater-version.yaml
  .github/workflows/check-garage-version.yaml
  .github/workflows/check-garage-webui-version.yaml
  .github/workflows/check-mealie-version.yaml
  .github/workflows/check-stepifi-version.yaml
  .github/workflows/check-technitium-version.yaml
Due: none

chore(bentopdf): bump appVersion to 2.1.0
  charts/bentopdf/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(stepifi): bump appVersion to 2.0.0
  charts/stepifi/Chart.yaml
Due: check-chart-metadata, kube-linter

fix: PR not always relevant
  scripts/lib/update-utils.sh
  scripts/update-csi-driver-smb.sh
  scripts/update-ddns-updater.sh
  scripts/update-garage-webui.sh
  scripts/update-garage.sh
  scripts/update-gateway-api-crds.sh
  scripts/update-technitium.sh
Due: none

fix: one more fix to try to avoid useless PR
  scripts/lib/update-utils.sh
Due: none

chore(bentopdf): bump appVersion to 2.2.0
  charts/bentopdf/Chart.yaml
Due: check-chart-metadata, kube-linter

fix: workaround trivy scan issue on csi smb chart
  charts/csi-driver-smb/values.yaml
  scripts/update-csi-driver-smb.sh
Due: helm-schema, kube-linter

fix: one more try fix useless PR
  scripts/lib/update-utils.sh
Due: none

chore(bentopdf): bump appVersion to 2.2.1
  charts/bentopdf/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(mealie): bump appVersion to v3.11.0
  charts/mealie/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(bentopdf): bump appVersion to 2.3.1
  charts/bentopdf/Chart.yaml
Due: check-chart-metadata, kube-linter

Path conditions:
  helm-schema: any of: charts/.*/values\.yaml$
  check-chart-metadata: any of: Chart.yaml
  kube-linter: any of: ^charts/
