Repository deimosfr/deimosfr-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-schema, check-chart-metadata, kube-linter

helm-schema:
  name: Helm Schema Generator
  entry: ./scripts/helm-schema.sh
  language: system

check-chart-metadata:
  name: Check Chart Metadata (Icon, Verified Publisher)
  entry: ./scripts/check-chart-metadata.sh
  language: system

kube-linter:
  name: KubeLinter
  entry: kube-linter lint --config .kube-linter.yaml charts/
  language: system
  pass_filenames: false

Update index.yaml
  index.yaml
Due: none

feat: remove mealie labels from PVC
  charts/mealie/templates/statefulset.yaml
Due: kube-linter

chore(bentopdf): bump appVersion to 2.8.1
  charts/bentopdf/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(stepifi): bump appVersion to 2.0.0
  charts/stepifi/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(garage): bump chart to 2.3.0
  charts/garage/Chart.yaml
  charts/garage/README.md
  charts/garage/templates/clusterrole.yaml
  charts/garage/templates/configmap.yaml
  charts/garage/templates/workload.yaml
  charts/garage/values.yaml
Due: helm-schema, check-chart-metadata, kube-linter

chore(mealie): bump appVersion to v3.16.0
  charts/mealie/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(bentopdf): bump appVersion to 2.8.4
  charts/bentopdf/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(technitium): bump chart to 15.0.1
  charts/technitium/Chart.yaml
Due: check-chart-metadata, kube-linter

fix: update technitium logo
  charts/technitium/Chart.yaml
Due: check-chart-metadata, kube-linter

fix: bentopdf liveness and readiness fixes
  charts/bentopdf/Chart.yaml
  charts/bentopdf/values.yaml
Due: helm-schema, check-chart-metadata, kube-linter

feat: add labels to statefulset
  charts/mealie/Chart.yaml
  charts/mealie/templates/statefulset.yaml
Due: check-chart-metadata, kube-linter

feat: add labels to statefulset to mealie
  charts/mealie/Chart.yaml
  charts/mealie/templates/statefulset.yaml
Due: check-chart-metadata, kube-linter

chore(ddns-updater): bump chart to 2.10.0
  charts/ddns-updater/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(mealie): bump appVersion to v3.17.0
  charts/mealie/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(technitium): bump chart to 15.2.0
  charts/technitium/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(mealie): bump appVersion to v3.18.0
  charts/mealie/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(bentopdf): bump appVersion to 2.8.5
  charts/bentopdf/Chart.yaml
Due: check-chart-metadata, kube-linter

feat: add extra env #40
  charts/mealie/Chart.yaml
  charts/mealie/README.md
  charts/mealie/templates/statefulset.yaml
  charts/mealie/values.schema.json
  charts/mealie/values.yaml
Due: helm-schema, check-chart-metadata, kube-linter

chore(mealie): bump appVersion to v3.19.2
  charts/mealie/Chart.yaml
Due: check-chart-metadata, kube-linter

Path conditions:
  helm-schema: any of: charts/.*/values\.yaml$
  check-chart-metadata: any of: Chart.yaml
  kube-linter: any of: ^charts/
