Repository deimosfr/deimosfr-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-schema, check-chart-metadata, kube-linter

helm-schema:
  name: Helm Schema Generator
  entry: ./scripts/helm-schema.sh
  language: system

check-chart-metadata:
  name: Check Chart Metadata (Icon, Verified Publisher)
  entry: ./scripts/check-chart-metadata.sh
  language: system

kube-linter:
  name: KubeLinter
  entry: kube-linter lint --config .kube-linter.yaml charts/
  language: system
  pass_filenames: false

Update index.yaml
  index.yaml
Due: none

chore(bentopdf): bump appVersion to 2.8.5
  charts/bentopdf/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(stepifi): bump appVersion to 2.0.0
  charts/stepifi/Chart.yaml
Due: check-chart-metadata, kube-linter

feat: update gateway0api-crds
  charts/gateway-api-crds/Chart.yaml
  charts/gateway-api-crds/templates/gateway.networking.k8s.io_backendtlspolicies.yaml
  charts/gateway-api-crds/templates/gateway.networking.k8s.io_gatewayclasses.yaml
  charts/gateway-api-crds/templates/gateway.networking.k8s.io_gateways.yaml
  charts/gateway-api-crds/templates/gateway.networking.k8s.io_grpcroutes.yaml
  charts/gateway-api-crds/templates/gateway.networking.k8s.io_httproutes.yaml
  charts/gateway-api-crds/templates/gateway.networking.k8s.io_listenersets.yaml
  charts/gateway-api-crds/templates/gateway.networking.k8s.io_referencegrants.yaml
  charts/gateway-api-crds/templates/gateway.networking.k8s.io_tcproutes.yaml
  charts/gateway-api-crds/templates/gateway.networking.k8s.io_tlsroutes.yaml
  charts/gateway-api-crds/templates/gateway.networking.k8s.io_udproutes.yaml
  charts/gateway-api-crds/templates/gateway.networking.k8s.io_vap_safeupgrades.yaml
Due: check-chart-metadata, kube-linter

chore(bentopdf): bump appVersion to 2.8.7
  charts/bentopdf/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(technitium): bump chart to 15.4.0
  charts/technitium/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(csi-driver-smb): bump chart to 1.20.3
  charts/csi-driver-smb/Chart.yaml
  charts/csi-driver-smb/templates/csi-smb-controller.yaml
  charts/csi-driver-smb/templates/csi-smb-node-windows.yaml
  charts/csi-driver-smb/values.yaml
Due: helm-schema, check-chart-metadata, kube-linter

chore(mealie): bump appVersion to v3.22.0
  charts/mealie/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(mealie): bump appVersion to v3.24.0
  charts/mealie/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(bentopdf): bump appVersion to 2.8.8
  charts/bentopdf/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(mealie): bump appVersion to v3.25.1
  charts/mealie/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(garage): bump chart to 2.4.1
  charts/garage/Chart.yaml
  charts/garage/README.md
  charts/garage/complex-values.yaml
  charts/garage/templates/_helpers.tpl
  charts/garage/templates/configmap.yaml
  charts/garage/templates/ingress.yaml
  charts/garage/templates/role.yaml
  charts/garage/templates/service-headless.yaml
  charts/garage/templates/service.yaml
  charts/garage/templates/servicemonitor.yaml
  charts/garage/templates/workload.yaml
  charts/garage/tests/clusterrole_test.yaml
  charts/garage/tests/complex_test.yaml
  charts/garage/tests/configmap_test.yaml
  charts/garage/tests/ingress_test.yaml
  charts/garage/tests/naming_test.yaml
  charts/garage/tests/secret_test.yaml
  charts/garage/tests/service_headless_test.yaml
  charts/garage/tests/service_test.yaml
  charts/garage/tests/serviceaccount_test.yaml
  charts/garage/tests/servicemonitor_test.yaml
  charts/garage/tests/values/daemonset.yaml
  charts/garage/tests/values/existing-secret.yaml
  charts/garage/tests/values/ingress.yaml
  charts/garage/tests/values/minimal.yaml
  charts/garage/tests/values/monitoring.yaml
  charts/garage/tests/workload_test.yaml
  charts/garage/values.yaml
Due: helm-schema, check-chart-metadata, kube-linter

chore(mealie): bump appVersion to v3.28.0
  charts/mealie/Chart.yaml
Due: check-chart-metadata, kube-linter

chore(technitium): bump chart to 15.5.1
  charts/technitium/Chart.yaml
Due: check-chart-metadata, kube-linter

Path conditions:
  helm-schema: any of: charts/.*/values\.yaml$
  check-chart-metadata: any of: Chart.yaml
  kube-linter: any of: ^charts/
