Repository deimosfr/deimosfr-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-schema, check-chart-metadata

helm-schema:
  name: Helm Schema Generator
  entry: ./scripts/helm-schema.sh
  language: system

check-chart-metadata:
  name: Check Chart Metadata (Icon, Verified Publisher)
  entry: ./scripts/check-chart-metadata.sh
  language: system

fix: use same email than artifacthub
  charts/mealie/Chart.yaml
Due: check-chart-metadata

feat: update artifacthub repo config for verified publisher
  artifacthub-repo.yml
Due: none

feat: add bentopdf chart
  charts/bentopdf/.helmignore
  charts/bentopdf/Chart.yaml
  charts/bentopdf/README.md
  charts/bentopdf/README.md.gotmpl
  charts/bentopdf/templates/NOTES.txt
  charts/bentopdf/templates/_helpers.tpl
  charts/bentopdf/templates/deployment.yaml
  charts/bentopdf/templates/ingress.yaml
  charts/bentopdf/templates/pvc.yaml
  charts/bentopdf/templates/service.yaml
  charts/bentopdf/templates/serviceaccount.yaml
  charts/bentopdf/templates/tests/test-connection.yaml
  charts/bentopdf/values.yaml
Due: helm-schema, check-chart-metadata

feat: add bentopdf and update mealie version
  .github/workflows/check-bentopdf-version.yaml
  .pre-commit-config.yaml
  AGENTS.md
  charts/bentopdf/Chart.yaml
  charts/bentopdf/README.md
  charts/bentopdf/README.md.gotmpl
  charts/bentopdf/templates/httproute.yaml
  charts/bentopdf/templates/vpa.yaml
  charts/bentopdf/values.yaml
  charts/mealie/Chart.yaml
  charts/mealie/README.md
  scripts/helm-schema.sh
Due: helm-schema, check-chart-metadata

Fix_Artifact_Hub_Errors
  charts/mealie/README.md
  charts/mealie/values.yaml
Due: helm-schema

fix: stepifi chart dependecy removal
  charts/stepifi/Chart.lock
Due: none

feat: update precommit versions
  .pre-commit-config.yaml
Due: none

fix: charts category fixes
  charts/bentopdf/Chart.yaml
  charts/linkding/Chart.yaml
  charts/stepifi/Chart.yaml
Due: check-chart-metadata

feat: 1.0.1 release
  charts/bentopdf/Chart.yaml
  charts/linkding/Chart.yaml
  charts/mealie/Chart.yaml
  charts/stepifi/Chart.yaml
Due: check-chart-metadata

feat: first release
  index.yaml
Due: none

fix: fixing charts versions for artifacthub
  charts/bentopdf/Chart.yaml
  charts/linkding/Chart.yaml
  charts/mealie/Chart.yaml
  charts/stepifi/Chart.yaml
Due: check-chart-metadata

Update index.yaml
  index.yaml
Due: none

feat: better linkding icon
  charts/linkding/Chart.yaml
Due: check-chart-metadata

chore(stepifi): bump appVersion to 2.0.0
  charts/stepifi/Chart.yaml
Due: check-chart-metadata

chore(bentopdf): bump appVersion to 1.16.0
  charts/bentopdf/Chart.yaml
Due: check-chart-metadata

chore(bentopdf): bump appVersion to 1.16.1
  charts/bentopdf/Chart.yaml
Due: check-chart-metadata

feat: update chart version update method
  .github/workflows/check-bentopdf-version.yaml
  .github/workflows/check-mealie-version.yaml
  .github/workflows/check-stepifi-version.yaml
Due: none

fix: update charts version
  charts/linkding/README.md
  charts/mealie/README.md
  charts/stepifi/README.md
Due: none

feat: updated bentopdf image location
  charts/bentopdf/Chart.yaml
  charts/bentopdf/README.md
  charts/bentopdf/values.yaml
Due: helm-schema, check-chart-metadata

fix: bento image fix
  charts/bentopdf/Chart.yaml
  charts/bentopdf/README.md
  charts/bentopdf/templates/deployment.yaml
  charts/bentopdf/values.schema.json
  charts/bentopdf/values.yaml
Due: helm-schema, check-chart-metadata

fix: linkding schema issue
  charts/linkding/Chart.yaml
  charts/linkding/README.md
  charts/linkding/values.schema.json
  charts/linkding/values.yaml
Due: helm-schema, check-chart-metadata

feat: update linkding liveness/readiness
  charts/linkding/README.md
  charts/linkding/templates/deployment.yaml
  charts/linkding/values.schema.json
  charts/linkding/values.yaml
Due: helm-schema

chore(bentopdf): bump appVersion to 2.0.0
  charts/bentopdf/Chart.yaml
Due: check-chart-metadata

chore(bentopdf): bump appVersion to 2.1.0
  charts/bentopdf/Chart.yaml
Due: check-chart-metadata

chore(mealie): bump appVersion to v3.10.1
  charts/mealie/Chart.yaml
Due: check-chart-metadata

chore(mealie): bump appVersion to v3.10.2
  charts/mealie/Chart.yaml
Due: check-chart-metadata

Path conditions:
  helm-schema: any of: charts/.*/values\.yaml$
  check-chart-metadata: any of: Chart.yaml
